@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --blue: #2c86d0;
  --dark: #000000;
  /* --white:#fcf4dd; */
  --white:#ffffff;
  --xy-edge-stroke-width-default: 0;
  --2xs:8px;
  --xs: 16px;
  --sm: 30px;
  --med: 60px;
  --lrg: 90px;
  --xl:180px;
  --2xl:360px;
}

@font-face {
	font-family: 'fake';
	src: url('/fonts/fake.woff2');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'fk';
	src: url('/fonts/FK-Blended.woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'fk';
	src: url('/fonts/FK-Smooth.woff2');
	font-weight: 900;
	font-style: normal;
}


@font-face {
	font-family: 'mono';
	src: url('/fonts/mono.woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'inter';
	src: url('/fonts/Inter-Regular.woff2');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'inter';
	src: url('/fonts/Inter-Light.woff2');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'inter';
	src: url('/fonts/Inter-Bold.woff2');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'inter';
	src: url('/fonts/Inter-Italic.woff2');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'inter';
	src: url('/fonts/Inter-LightItalic.woff2');
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: 'inter';
	src: url('/fonts/Inter-BoldItalic.woff2');
	font-weight: 900;
	font-style: italic;
}

/* Lenis */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.noControl mux-player {
	/* Hide all controls at once */
	--controls: none;
  }

  
mux-player{
  clip-path: inset(2px 2px);
}
  
.bgMux mux-player{
  --controls: none;
  --media-object-fit: cover;
  position: absolute;
  width: calc(100% + 1px);
  height:calc(100% + 1px);
}

.containH mux-player{
  
  width:auto;
  height:100%;
}
.containW mux-player{
  
  width:100%;
  height:auto;
}

mux-player {
  

  /* Target all sections by excluding the section prefix */
  
  --live-button: none;
  --seek-backward-button: none;
  --seek-forward-button: none;
  --mute-button: none;
  
  --pip-button: none;
  --playback-rate-button: none;
  --rendition-menu-button: none;
    clip-path: inset(0 0);

}
.workStage mux-player{
   clip-path: inset(1px 1px);
   -webkit-clip-path: inset(1px 1px);
}


.contentBlock iframe{
  width:100% !important;
  height:100% !important;
}

body {
  font-size:16pt;
  font-family: "inter",Arial, Helvetica, sans-serif;
  color: var(--white);
}

.contentBlock, .articleStage{
  width: 100vw;
  overflow-x: hidden;
}

li{
  font-family: 'mono', 'Courier New', Courier, monospace;
  font-size: 15pt;}

ul{
  list-style-type: circle;
  padding-left: var(--xs);
}


ol{
  list-style-type: decimal;
    padding-left: var(--sm);
}




h1{
  font-size: 4rem;
  font-family: 'fk', Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  font-weight: 900;
}

h1.title{
  font-size: 20rem;
  text-align: justify;
  text-justify: inter-word;
  text-align-last: justify;
  
}

h2{
  font-size: 1.75rem;
  font-family: 'fk', Arial, Helvetica, sans-serif;
  line-height: 1.225em;
  font-weight: 500;
}



.richText p, .contentBlock p, .contentBlock h1, .contentBlock h2, .contentBlock li{
margin-bottom: var(--sm);
}

h1.ol-number, .navBut p, .closeBut h1{
  margin-bottom:0;
  text-box: trim-both cap alphabetic;

}



  .contentBlock h1{
  font-size:3rem;
  }


.contentBlock strong{
  font-weight: 900;
}

.contentBlock em{
  font-style: italic;
}

.faqQuest p{
  font-size:15pt;
}
  
.fake {
  font-size:12pt;
  font-family: "fake",Arial, Helvetica, sans-serif;
 
}

.fakeSub{
  font-size:10pt;
}

.fk {
  font-family: 'fk';
}

h1:last-child, h2:last-child, p:last-child{
  margin-bottom: 0;
}

.mono{font-family:"mono",'Courier New', Courier, monospace}

.navBut{
  font-size:5pt;
  font-family: "fake",Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  width:120px;
  text-align: center;
  position: relative;
   text-box: trim-both cap alphabetic;
  
}

button,.caption{
  font-size:10pt;
  font-family: "fake",Arial, Helvetica, sans-serif;
}

input{
  background-color: transparent;
  border:0;
  padding:var(--xs);
  border-bottom: 1px solid var(--white);
}

textarea{
  background-color: transparent;
  border:1px solid var(--white)
}

textarea::placeholder{
  font-family: "fake",Arial, Helvetica, sans-serif;
  font-size:12pt;
  color: var(--white)
}
input::placeholder{
  font-family: "fake",Arial, Helvetica, sans-serif;
  font-size:12pt;
  color: var(--white)
}

.navTitle{
  font-size:.5em;
  font-family: "fake",Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: left;
  position: relative;
}
.navTitle h1{
  font-size: 1.5em;
}


.infoCard{
  background-color: var(--dark);
}

/* nodes */
.react-flow__node {
  border: 0;
  background: transparent;
  padding: 0;
  height: auto;
  width:120px;
}

.react-flow__node.react-flow__node-navTitle {
  border: 0;
  background: transparent;
  padding: 0;
  height: auto;
  width:15vw;
}

.react-flow__edge{
  stroke: var(--white);
  pointer-events: none;
}

  .react-flow__handle{
   opacity:0;
  }

  .articleStage, .bgBlur{
    backdrop-filter: blur(30px);

  }

  .navBut div{
    padding: 8px 5px;
    background-color: rgba(20, 20, 20, 0.45);
    backdrop-filter: blur(10px);
    opacity: 0;
    position: relative;
    transform: translateX(20px);
    animation: fadeOn 1s cubic-bezier(0.57, 0.06, 0.05, 0.95) forwards;
  }

 

  .titleHolder{
    padding: 10px;
    background-color: rgb(135 191	239 / 20%);
    backdrop-filter: blur(20px);
    opacity: 0;
    border-radius: 5px;
    position: relative;
    transform: translateX(20px);
    animation: fadeOn 1s cubic-bezier(0.57, 0.06, 0.05, 0.95) forwards;
  }

  .navBut::before, .gridBox::before, .subBut::before{
    content: "+";
    position: absolute;
    top:0;
    left:0;
    transform: translate(-50%,-50%);
  }

  .navBut div:first-child:before,.gridBox > div:first-child:before, .subBut > div:first-child:before {
    content: "+";
    position: absolute;
    bottom:0;
    left:0;
    transform: translate(-50%,50%);
  }

 

  .navBut::after,  .gridBox::after,.subBut::after {
    content: "+";
    position: absolute;
    top:0;
    right:0;
    transform: translate(50%,-50%);
  }

  .navBut div:first-child::after, .gridBox > div:first-child::after, .subBut > div:first-child::after{
    content: "+";
    position: absolute;
    bottom:0;
    right:0;
    transform: translate(50%,50%);
  }

  .gridBox.donate{
    font-size:10pt;
  }

  .navBut:hover,.closeBut:hover, .subBut:hover, .singleArticle:hover .linkBut, .faqsItem:hover .faqBut{
    animation: blink 200ms cubic-bezier(0.57, 0.06, 0.05, 0.95) infinite;
  }

  .react-flow__minimap{
    /* pointer-events: none !important; */
    background-color: rgba(255,255,255, .15%);
    backdrop-filter: blur(10px);
    width:100px;
    height:100px;
    overflow: hidden;
    border-radius:1000px;
    border:1px solid var(--light);
  }
  

    .react-flow__attribution{display:none}



    .growOn{
      transform: scaleX(0);
      animation: growOn ease-in-out 2s forwards;
      transform-origin: left;
    }

    /* faqs */
    .faqQuest{
      max-height: 0;
      opacity: 0;
      transition: all .25s ease-in-out;
    }

    .itemActive .faqQuest{
      max-height: 10000px;
      opacity: 1;
      padding-top:var(--sm);
    }

    .itemActive .faqBut{
      background-color: #ffffff;
      color:#000000;
    }

  @keyframes fadeOn{
  0%{    opacity:0;max-height:0;transform: translateX(20px);
  }
  100% {
   opacity:1;max-height:1000px;transform: translateX(0);
    }
}

  @keyframes growOn{
  0%{    transform:scaleX(0);
  }
  100% {
   transform:scaleX(1);
    }
}

@keyframes blink{
  0%{    opacity:0;transform: translateX(0);
  }
  70% {
   opacity:0;transform: translateX(0);
    }
     75% {
   opacity:1;transform: translateX(0);
    }
}

@keyframes artOn{
  0%{    clip-path: rect(50% 50% 50% 50%);
  }
  100% {
    clip-path: rect(0% 0% 0% 0%);
    }
}

@media (max-width:1400px){
  h1.title{
    font-size: 8rem;
  }

}

@media (max-width:1000px){
  h1.title{
    font-size: 5rem;
  }

}

@media (max-width:500px){

  .contentBlock, .articleStage{
  padding-bottom:150px;
}

 .richText p, .contentBlock p {
font-size: 14pt;
}
h1{font-size:2.5rem;
}
h2{
  font-size: 1.5rem; 
}

.contentBlock li, .faqQuest p, .contentBlock .mono p{
  font-size:12pt;
}
}


