@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --blue: #2c86d0;
  --dark: #000000;
  /* --white:#fcf4dd; */
  --white:#ffffff;
  --xy-edge-stroke-width-default: 0;
  --2xs:8px;
  --xs: 16px;
  --sm: 30px;
  --med: 60px;
  --lrg: 90px;
  --xl:180px;
  --2xl:360px;
}

@font-face {
	font-family: 'fake';
	src: url('/fonts/fake.woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'mono';
	src: url('/fonts/mono.woff2');
	font-weight: 500;
	font-style: normal;
}

body {
  font-size:18pt;
  font-family: "mono",Arial, Helvetica, sans-serif;
  color: var(--white);
}

h1{
  font-size: 5rem;
  font-family: 'fake', arial;
  line-height: 1.125em;
}

.contentBlock p, .contentBlock h1, .contentBlock h2{
margin-bottom: var(--sm);
}

.contentBlock h1, .contentBlock h2{
  margin-top: var(--sm);
  }


.contentBlock strong{
  font-family: "fake",Arial, Helvetica, sans-serif;
}

.contentBlock em{
  font-family: "fake",Arial, Helvetica, sans-serif;
  font-style: normal;
  text-decoration: underline;
  font-weight: 500;
}

.fake {
  font-size:12pt;
  font-family: "fake",Arial, Helvetica, sans-serif;
 
}

.fakeSub{
  font-size:10pt;
}

.navBut{
  font-size:5pt;
  font-family: "fake",Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  width:120px;
  text-align: center;
  position: relative;
}

button{
  font-size:10pt;
  font-family: "fake",Arial, Helvetica, sans-serif;
}

.navTitle{
  font-size:.5em;
  font-family: "fake",Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: left;
  position: relative;
}
.navTitle h1{
  font-size: 1.5em;
}


.infoCard{
  background-color: var(--dark);
}

/* nodes */
.react-flow__node {
  border: 0;
  background: transparent;
  padding: 0;
  height: auto;
  width:120px;
}

.react-flow__node.react-flow__node-navTitle {
  border: 0;
  background: transparent;
  padding: 0;
  height: auto;
  width:15vw;
}

.react-flow__edge path{
  stroke: var(--white);
}

  .react-flow__handle{
   opacity:0;
  }

  .articleStage{
    /* background-color: rgb(24 25 38 / 5%); */
    backdrop-filter: blur(20px);
    /* clip-path: rect(50% 50% 50% 50%);
    animation: artOn 1s cubic-bezier(0.57, 0.06, 0.05, 0.95) forwards; */
  
  }

  .navBut div{
    padding: 5px;
    background-color: rgba(252, 244, 221, 0.1);
    backdrop-filter: blur(5px);
    opacity: 0;
    position: relative;
    transform: translateX(20px);
    animation: fadeOn 1s cubic-bezier(0.57, 0.06, 0.05, 0.95) forwards;
  }

 

  .titleHolder{
    padding: 10px;
    background-color: rgb(135 191	239 / 20%);
    backdrop-filter: blur(20px);
    opacity: 0;
    border-radius: 5px;
    position: relative;
    transform: translateX(20px);
    animation: fadeOn 1s cubic-bezier(0.57, 0.06, 0.05, 0.95) forwards;
  }

  .navBut::before{
    content: "+";
    position: absolute;
    top:0;
    left:0;
    transform: translate(-50%,-50%);
  }

  .navBut div:first-child:before{
    content: "+";
    position: absolute;
    bottom:0;
    left:0;
    transform: translate(-50%,50%);
  }

 

  .navBut::after{
    content: "+";
    position: absolute;
    top:0;
    right:0;
    transform: translate(50%,-50%);
  }

  .navBut div:first-child::after{
    content: "+";
    position: absolute;
    bottom:0;
    right:0;
    transform: translate(50%,50%);
  }

  .navBut:hover{
    animation: blink 250ms cubic-bezier(0.57, 0.06, 0.05, 0.95) infinite;
  }

  .react-flow__minimap{
    pointer-events: none !important;
    background-color: rgb(255 255 255 / 5%);
    backdrop-filter: blur(10px);
    width:150px;
    overflow: hidden;
    border-radius:1000px;
    border:1px solid var(--light);
  }
  

    .react-flow__attribution{display:none}




  @keyframes fadeOn{
  0%{    opacity:0;max-height:0;transform: translateX(20px);
  }
  100% {
   opacity:1;max-height:1000px;transform: translateX(0);
    }
}

@keyframes blink{
  0%{    opacity:0;transform: translateX(0);
  }
  97% {
   opacity:1;transform: translateX(0);
    }
}

@keyframes artOn{
  0%{    clip-path: rect(50% 50% 50% 50%);
  }
  100% {
    clip-path: rect(0% 0% 0% 0%);
    }
}

@media (max-width:850px){
  h1{
    font-size: 2.125rem;
  }
  p{
    font-size:16pt;
  }
}


